@import "tailwindcss";

:root {
  --background: #0087d1;
  --foreground: #ffffff;
  --font-size-header: 32px ;
  --font-size-header-mobile: 18px ;
  --font-size-text: 20px ;
  --font-size-text-mobile: 16px ;
  --font-size-dropdown-mobile: 14px;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
