@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --font-size-header: 32px ;
  --font-size-header-mobile: 18px ;
  --font-size-text: 20px ;
  --font-size-text-mobile: 16px ;
  --font-size-dropdown-mobile: 14px;
  --color-pink: #ce0764;
  --color-green: #39d02b;
  --color-blue: #0072b0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--color-blue);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
